#desktop {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    
    .center {
        width: 600px;
        
        .keyboard {
            width: 100%;
            display: flex;
            overflow: hidden;
        }
        
        .col {
            flex: 1;
            font-family: Arial, sans-serif;
            
            h4 {
                width: 140px;
                height: 40px;
                line-height: 40px;
                text-align: right;
                margin-top: 30px;
                color: RGBA(255, 255, 255, 0.6);
            }
            
            p {
                height: 32px;
                line-height: 32px;
                font-size: 13px;
                color: RGBA(255, 255, 255, 0.5);
                
                span {
                    display: inline-block;
                    
                    &.key {
                        width: 140px;
                        text-align: right;
                    }
                    
                    &.value {
                        padding-left: 10px;
                        box-sizing: border-box;
                        
                        em {
                            font-size: 11px;
                            padding: 3px 5px;
                            margin: 0 2px;
                            font-style: normal;
                            font-weight: normal;
                            border-radius: 3px;
                            color: RGBA(255, 255, 255, .7);
                            background: RGBA(255, 255, 255, .1);
                        }
                    }
                }
            }
            
            &.right {
                
                h4 {
                
                }
                
                p {
                    span {
                        &.value {
                            color: RGBA(255, 255, 255, .7);
                            width: 140px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}
