.svgIconsComponents {
    width: 16px;
    height: 16px;
    line-height: 16px;
    max-width: 16px;
    max-height: 16px;
    display: inline-block;
    
    svg {
        max-width: 16px;
        max-height: 16px;
        
        * {
            opacity: 1;
            fill: RGBA(255, 255, 255, .8);
        }
    }
}
