:root {
    .toolbox {
        width: 30px;
        height: calc(100% - 10px);
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        padding: 5px;
        flex-direction: column-reverse;
        background: RGBA(0, 0, 0, .1);
        
        span {
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            color: RGBA(255, 255, 255, .3);
            transition: background .2s;
            
            &:hover {
                color: RGBA(255, 255, 255, .7);
                background: RGBA(0, 0, 0, .2);
            }
        }
    }
}
