.mermaid {
    max-width: calc(100% - 20px);
    color: RGBA(255, 255, 255, 1);
    opacity: 1;
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    position: relative;
    
    .display {
        width: 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 20px !important;
        box-sizing: border-box;
        background: RGBA(0, 0, 0, 0.1);
        border: 1px solid RGBA(0, 0, 0, 0.4);
        display: inline-block;
        
        svg {
            max-width: 100%;
            float: left;
        }
    }
    
    &[mermaid-render-state='true'] {
        opacity: 1;
        height: auto;
        display: block;
        
        &:before {
            display: none;
        }
    }
    
    &[mermaid-render-state='error'] {
        display: block;
        min-height: auto;
        
        .display {
            padding: 0 !important;
            box-sizing: border-box;
            font-size: 12px;
            color: RGBA(255, 255, 255, 1);
            border: 1px solid RGBA(0, 0, 0, 0.4);
            
            .tips {
                padding: 0 10px;
                min-height: 30px;
                line-height: 30px;
                box-sizing: border-box;
                background: RGBA(210, 53, 62, 1);
            }
            
            small {
                font-size: 12px;
                color: #FFF;
            }
            
            pre {
                padding: 10px 20px;
                box-sizing: border-box;
                color: #CCC;
                font-size: 11px;
                font-family: Arial, sans-serif;
                background: RGBA(0, 0, 0, 0.1);
            }
        }
    }
    
    &:before {
        color: RGBA(255, 255, 255, .4);
        //content: 'loading ...';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        
    }
    
    .node rect,
    .node circle,
    .node ellipse,
    .node polygon {
        fill: #BDD5EA !important;
        stroke: RGBA(255, 255, 255, 0) !important;
        stroke-width: 4px !important;
        stroke-dasharray: 5, 5 !important;
    }
    
    .edgeLabels {
        .edgeLabel {
            border-radius: 5px;
            padding: 0 2px;
            font-size: 14px;
            background-color: RGBA(31, 34, 35, 1) !important;
        }
        
        .label {
            background: none;
            
            span.edgeLabel {
                color: RGBA(255, 255, 255, .5) !important;
            }
        }
    }
    
    .cluster {
        rect {
            fill: RGBA(255, 255, 255, .1) !important;
        }
    }
    
    @import "./classDiagram.scss";
    @import "./stateDiagram.scss";
    @import "./sequenceDiagram.scss";
    @import "./graphTB.scss";
    @import "./graphLR.scss";
}
