@import "./variableMermaid.scss";

&[mermaid-type= 'sequenceDiagram'] {
    
    .display {
        max-width: 80%;
    }
    
    g {
        
        text {
            font-weight: normal !important;
            fill: $fontColor !important;
            font-size: 14px !important;
            stroke: transparent;
            font-family: Arial, sans-serif;
        }
        
        circle {
        
        }
        
        rect.note {
            fill: $fillColor !important;
            stroke: none !important;
        }
        
        text.noteText {
            fill: $fillFontColor !important;
        }
        
        rect, circle {
            fill: $backgroundColor !important;
            stroke: $lineColor !important;
            vector-effect: non-scaling-stroke;
        }
        
        line {
            stroke: $lineColor !important;
            stroke-width: 1 !important;
            vector-effect: non-scaling-stroke;
        }
    }
    
    path {
        &.relation,
        &.transition {
            stroke: $lineColor !important;
            vector-effect: non-scaling-stroke;
        }
    }
    
    defs {
        marker {
            &#extensionStart,
            &#extensionEnd,
            &#compositionStart,
            &#compositionEnd,
            &#dependencyStart,
            &#dependencyEnd {
                fill: $lineColor !important;
                stroke: $lineColor !important;
                vector-effect: non-scaling-stroke;
            }
            
            &#aggregationStart,
            &#aggregationEnd {
                fill: $backgroundColor !important;
                stroke: $lineColor !important;
                vector-effect: non-scaling-stroke;
            }
        }
    }
}
