@import "./variableMermaid.scss";

&[mermaid-type= 'stateDiagram'] {
    
    .display {
        max-width: 80%;
    }
    
    g {
        &.stateGroup text {
            font-weight: normal !important;
            fill: $fontColor !important;
            font-size: 9px !important;
            stroke: transparent;
        }
        
        circle {
        
        }
        
        rect, circle {
            fill: $backgroundColor !important;
            stroke: $lineColor !important;
            vector-effect: non-scaling-stroke;
        }
        
        line {
            stroke: $lineColor !important;
            stroke-width: 1 !important;
            vector-effect: non-scaling-stroke;
        }
        
        &.stateLabel {
            rect {
                &.box {
                    opacity: 0 !important;
                }
            }
            
            text {
                &.label {
                    fill: $fontColor !important;
                }
            }
        }
    }
    
    path {
        &.relation,
        &.transition {
            stroke: $lineColor !important;
            vector-effect: non-scaling-stroke;
        }
    }
    
    defs {
        marker {
            &#extensionStart,
            &#extensionEnd,
            &#compositionStart,
            &#compositionEnd,
            &#dependencyStart,
            &#dependencyEnd {
                fill: $lineColor !important;
                stroke: $lineColor !important;
                vector-effect: non-scaling-stroke;
            }
            
            &#aggregationStart,
            &#aggregationEnd {
                fill: $backgroundColor !important;
                stroke: $lineColor !important;
                vector-effect: non-scaling-stroke;
            }
        }
    }
}
