* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

li {
    list-style: none;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {

}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: RGBA(255, 255, 255, .2);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

input, textarea, button {
    outline: none;
    border: none;
    background: none;
}

body {
    position: relative;
    background: RGBA(30, 32, 34, 1);
}

.body-component-container {
    width: 0;
    height: 0;
}


#app-route-bottom {
    width: 40px;
    height: 40px;
    line-height: 40px;
    right: 50px;
    bottom: 20px;
    color: #FFF;
    background: #004774;
    position: absolute;
}
