#v-lightBox {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    position: absolute;
    left: 40px;
    top: 40px;
    z-index: 999;
    
    .mask {
        left: -40px;
        top: -40px;
        width: calc(100% + 80px);
        height: calc(100% + 80px);
        z-index: 1;
        position: absolute;
        background: RGBA(0, 0, 0, 0);
        -webkit-animation: v-lightBox-mask-in .3s forwards;
        @keyframes v-lightBox-mask-in {
            0% {
                background: RGBA(0, 0, 0, 0);
            }
            100% {
                background: RGBA(0, 0, 0, .8);
            }
        }
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);
    }
}
